<footer>
	<div class="container">
		<div class="footer-columns">
			{{ if .Site.Menus.footer }}
				<ul class="footer-links">
					<li>
						<h2>Pages</h2>
					</li>
					{{ range .Site.Menus.footer }}
						<li>
							<a href="{{ .URL }}" title="{{ .Name }} page">{{ .Name }}</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}

			<ul class="footer-links">
				<li>
					<h2>Social</h2>
				</li>
				{{ range $.Site.Data.personal.social_links }}
					<li>
						<a target="_blank" rel="noopener" href="{{ .link }}" class="{{ .name | urlize }}-icon">
							{{ partial "social-icon.html" . }}
							{{ .name }}
						</a>
					</li>
				{{ end }}
			</ul>

			<ul class="footer-links">
				<li>
					<h2>{{ $.Site.Data.personal.title }}</h2>
				</li>
				<li>{{ $.Site.Data.personal.description }}</li>
				<li><a href="/blog/index.xml">{{ partial "social-icon.html" (dict "context" . "name" "RSS") }} Subscribe with RSS</a></li>
			</ul>
		</div>
	</div>

	<div class="legal-line">
		<p class="container">
			&copy; {{ now.Format "2006" }} {{ $.Site.Data.personal.title }}
		</p>
	</div>
</footer>

<!-- Netlify CMS -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
